body {
  background-color: rgb(217, 244, 244);
  display: flex;
  flex-direction: column;
  height: 200vh;
  /* для отображ. скролла, чтобы не дергалось */
}

.container {
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  margin-left: 15%;
  margin-right: 15%;
}

img {
  height: 20em;
  width: 20em;
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  position: static;
  display: none;
}

.mainBlock {
  /* весь кусок */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.title {
  /* содержит название мема*/
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  font-size: 1.8em;
  cursor: pointer;
  background: #333;
  color: #fff;
  border-top: 3px solid #7c828e;
}

.mem {
  /* содержит картинку*/
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-height: 0;
  width: 100%;
  opacity: 0;
}

i {
  /* cкрыть значок без наведения и тыка*/
  transition: 1s ease;
  opacity: 0;
  color: #fff;
}

input:not(:checked)~.title {
  color: #d1f52e;
}

/* нажатие и появл картинки*/
input:checked~.mem {
  max-height: 100vh;
  opacity: 1;
  transition: 1.38s ease;
}

.mem:active img {
  opacity: 0.5;
}



@media(max-width: 480px) {
  h1 {
    font-size: 2em;
  }

  .container {
    margin-left: 10%;
    margin-right: 10%;
  }

  .title {
    font: normal 1.2em/1em Verdana, sans-serif;
    text-align: center;
  }

  img {
    width: 10em;
    height: 10em;
  }
}


@media(min-width:769px) and (max-width: 1024px) {
  h1 {
    font-size: 3em;
  }

  .title {
    font-size: 2.5em;
    text-align: center;
  }

  img {
    width: 25em;
    height: 25em;
  }
}

@media (hover: hover) {

  .mainBlock:hover i {
    rotate: 45deg;
    transition: 1s ease;
    opacity: 100%;
  }

  /* появление всех плюсиков одновременно*/
  .container:hover i {
    transition: 0.3s ease;
    opacity: 100%;
  }

  /*цвет при наведении*/
  .container:hover .title {
    color: rgb(250, 250, 250);
  }

  /* появление картинки при наведении*/
  .mainBlock:hover .mem {
    max-height: 100%;
    opacity: 1;
    transition: 1.38s ease;
    cursor: pointer;
  }
}


@media (hover:none) {
  input:checked~.title i {
    rotate: 45deg;
    transition: 1s ease;
  }
}