body {
  background-color: rgb(217, 244, 244);
  display: flex;
  flex-direction: column;
  height: 200vh;
  /* для отображ. скролла, чтобы не дергалось */
}

.container {
  margin-left: 15%;
  margin-right: 15%;
}

img {
  height: 200px;
  width: 200px;
}

input {
  position: static;
  display: none;
}

.mainBlock {
  /* весь кусок */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

i {
  /* cкрыть значок без наведения и тыка*/
  transition: 1s ease;
  opacity: 0;
  color: #fff;
}

.mainBlock:hover i {
  rotate: 45deg;
  transition: 1s ease;
  opacity: 100%;
}

/* появление всех плюсиков одновременно*/
.container:hover i {
  transition: 1s ease;
  opacity: 100%;
}

input:checked~.title i {
  rotate: 45deg;
  transition: 1s ease;
}


.title {
  /* содержит название мема*/
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
  cursor: pointer;
  background: #333;
  color: #fff;
  border-top: 3px solid #6c91e0;
}


.mem {
  /* содержит картинку*/
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-height: 0;
  width: 100%;
  opacity: 0;
}


/* появление картинки при наведении*/
.mainBlock:hover .mem {
  max-height: 100%;
  opacity: 1;
  transition: 1s ease;
  cursor: pointer;
}

/*цвет при наведении*/

.container:hover .title {
  color: rgb(250, 250, 250);
}

input:not(:checked)~.title {
  color: #ef85da;
}


/* нажатие и появл картинки*/
input:checked~.mem {
  max-height: 100vh;
  opacity: 1;
  transition: 1s ease;
}

.mem:active img {
  opacity: 0.5;
}